<section fxLayout='row' fxLayoutAlign='center'>
  <app-loading message="please wait..." *ngIf="loading"></app-loading>

  <!-- login with email -->
  <form
      novalidate
      autocomplete="off"
      [formGroup]="user"
      (ngSubmit)="signInWithEmail()"
      fxLayout="column"
      class="login-box"
      *ngIf="!loading && !showResetPassword">
      <mat-card>
        <mat-card-content fxLayout="column">
          <h1 class="app-center">Login</h1>

          <!-- email -->
          <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="user.get('email').hasError('pattern')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="user.get('email').hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- password -->
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error [hidden]="!(user.get('password').hasError('required'))">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <button
            class="login-btn"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loading || user.invalid">
            login
          </button>

        </mat-card-content>
      </mat-card>
      <button mat-button color="primary" (click)="signUp()">Sign Up</button>
  </form>

</section>
