
.login-box {

  h1 {
    font-size: large;
    font-weight: 500;
  }

  /deep/ .mat-card{
    padding: 24px !important;
  }

  margin-top: 100px;
}


mat-form-field {
  margin: 8px 0;
}

.secondary-option {
  font-weight: 300;
}

.sign-up {
  font-weight: 600;
}

.login-btn{
  margin-top: 8px;
  margin-bottom: 8px;
}
