<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>Home</span>
  <span class="fill-space" fxFlex></span>
  <button mat-icon-button
          *ngIf="admin"
          (click)="toggleCreateView()"
          matTooltip="add library"
          matTooltipPosition="left">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>


<section *ngIf="show.list">

  <h2>Libraries</h2>
  <app-list-library
    [libraryId]="libraryId"
    class="card">
  </app-list-library>

  <br/>
  <h2>My Books</h2>
  <app-list-books userMode="true"></app-list-books>

</section>


<!--Add new library-->
<section *ngIf="show.create">

  <app-create-library
    class="card"
    (passEvents)="listenToChild($event)">
  </app-create-library>

</section>
