mat-form-field {
  margin: 8px;
}

.secondary-option {
  margin-top: 8px;
}

.sign-up-btn{
  margin-top: 16px;
}

h1 {
  font-size: large;
  font-weight: 500;
}

.sign-up{
  /deep/ .mat-card{
    padding: 24px !important;
  }
}
